################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# Include folder for Web publish
obj/
bin/
*.user
*.suo
*.userosscache
*.sln.docstates
wwwroot/

# Ignore build results of specific configurations
[Dd]ebug*/
[Rr]elease*/
x64/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
